[2015-04-03 10:07] karpotkin opened #1 "Error after run app"
https://www.dropbox.com/s/hfby4auhtv130rt/Screenshot%202015-04-03%2013.06.44.png?dl=0

[2015-04-03 10:31] spronin commented on #1
Appears if you don't specify children inside
`<Carousel>{views}</Carousel>`
Gonna add check for that

[2015-04-03 10:42] #1 closed

[2015-04-03 11:08] spronin opened #2 "Update for more ES6 features"

[2015-04-03 14:11] karpotkin commented on #1
it works! thanks!

[2015-04-14 00:58] maxs15 opened #3 "The view doesn't refresh on landscape mode"
When passing from the portrait mode to the landscape mode the view doesn't resize the fetch the new screen size.

[2015-04-14 12:52] phil-r commented on #3
@maxs15 thank you! We've tested only portrait mode, our bad ;(

[2015-05-22 02:40] piyushchauhan2011 opened #4 "React native shows blank screen."
After adding the carousel component in react-native 0.4.4, the view shows a blank screen.

[code]

This is my code before adding the carousel component. This also shows a blank screen if carousel component is installed in node_modules/ . I removed the require from index.ios.js, even then for some reason, the screen was blank. When I removed from node_modules, it started working again.

I don't kno

[2015-05-22 09:31] spronin commented on #4
Give us ~ two days, we gonna look into it.
It worked as of 0.3.4. So we definitely need to update that.

[2015-05-22 12:40] piyushchauhan2011 commented on #4
It's nice to hear that @spronin.

[2015-07-13 22:09] crysfel opened #5 "Not working with react 0.7.1"
I have updated my app to the latest version of react native (0.7.1) and the carousel stopped working. I'm getting the red screen with the following error:

[code]

Any thoughts?

[2015-07-17 16:16] piyushchauhan2011 commented on #5
:+1: Not working for me too.

[2015-07-23 18:35] dvdhsu commented on #5
I've fixed this in dvdhsu/react-native-looped-carousel. PR here: https://github.com/appintheair/react-native-looped-carousel/pull/6

[2015-07-24 01:22] piyushchauhan2011 commented on #5
@dvdhsu Please send the pull request to this master branch and release a new tag or update on npmjs website.

[2015-07-24 23:23] srounce commented on #5
Fixed for good in #7

[2015-08-03 08:03] gitmegrub opened #10 "vertical scroll/drag"
Hi, have configured the carousel to have a width and height not equal to the screen size however, I can seem to drag the contents vertically. Is there a way to disable this?

I tried playing around the Scrollview props without any luck.

This is probably related to RN bug https://github.com/facebook/react-native/issues/2127

G

[2015-09-26 13:52] spronin commented on #4
for now works with RN 0.11.2

[2015-09-26 13:52] #4 closed

[2015-09-26 13:53] spronin commented on #5
Now works with RN 0.11.2

[2015-09-26 13:53] #5 closed

[2015-09-27 21:38] asamiller commented on #10
I ran into this issue and solved it by setting the height of the Carousel to be the same height as my inner contents: `<Carousel style={{height:300}}>`

[2015-09-28 14:57] spronin commented on #10
yeah, you just set width / height for the Carousel and it should work

[2015-11-02 05:47] pramodmg opened #14 "Not working getting an error message"
<img width="923" alt="screen shot 2015-11-02 at 11 16 48 am" src="https://cloud.githubusercontent.com/assets/10665538/10874986/45f89a3e-8153-11e5-9541-a0659d2b1174.png">

Can You please look into it.

Thanks in advance

[2015-11-02 18:44] praisegeek commented on #14
+1. Experiencing the same issue.

[2015-11-04 18:35] joeygaskin commented on #14
Also having the same issue. npm installed a few days or so ago and now its currently not working.

[2015-11-04 18:36] spronin commented on #14
updated the repo. gonna update npm also

[2015-11-04 18:37] #14 closed

[2015-11-04 18:49] joeygaskin commented on #14
Thanks!

[2015-11-04 23:53] praisegeek commented on #14
It's actually an updated npm issue... Besides the output errors, the module still get installed. Check node_modules.

[2015-11-22 17:08] mrzmyr opened #16 "react-native 0.14.x support"
[code]

Is `react-native-looped-carousel` supported for 0.14.x ?

[2015-11-23 21:11] axelg12 commented on #16
+1  I think there is no problem fixing this. Just change the peer dependency to something like:
"react-native": ">= 0.13.0"

[2015-12-07 22:52] jfsemaan opened #17 "Android Support"
Hi,

iOS works as expected, but Android has some issues. The loop doesn't work. Using 3 images it shows:
First pass: 1-2-3
Second Pass: 1-2-Stops

Also when I swipe the image to the right or to left, the next image doesn't move automatically to fit the screen. The transition stays in between the image before and the next one.

[2015-12-09 11:32] rainbowhat commented on #17
How do you even install this thing?

[2015-12-09 11:33] rainbowhat commented on #16
Uh i'm having this issue :(

[2015-12-09 11:50] timzaak commented on #17
remove the `peer dependencies` in package.json
and because of some react-native apis are not usable in Android, it may not work as better as ios

[2016-01-19 20:37] seb0zz commented on #17
Even this library works like a charm for iOS if you want to have it Android compatible right now I would suggest using [react-native-swiper](https://github.com/leecade/react-native-swiper)

[2016-02-16 11:42] #16 closed

[2016-02-16 11:42] #2 closed

[2016-02-23 03:20] L-Jovi opened #22 "get current View child"
I want to get current `<View />` child inside `Carousel` when it's looping,
is there any callback could help me?

thanks for your time.

[2016-02-26 13:48] umair-khan1993 commented on #3
So do you people plan on fixing this bug?

[2016-03-05 10:35] tomav opened #23 "Source of example"
Hi, really nice work on this Carousel!

I was wondering if you could provide the source of the example displayed in the `README`.
You have the fullscreen carousel + static elements that don't move when you swipe.
React-native beginners like me will have a better understanding of how it works with it.

Thank you.

[2016-03-27 02:36] spronin commented on #3
@maxs15 @umair-khan1993 check the readme
orientation changes can be handles using onLayout on parent view

[2016-03-27 02:36] #3 closed

[2016-03-27 02:45] spronin commented on #22
@L-Jovi please check onAnimateNextPage callback prop on the carousel
you can get current page number (1-based). If you have a model outside you can map it to specific object, e.g. View

[2016-03-27 02:45] #22 closed

[2016-03-27 02:50] spronin commented on #23
@tomav take a look at https://github.com/appintheair/react-native-buyscreen
There is example usage of the component as sees in the gif

[2016-03-27 02:50] #23 closed

[2016-03-27 02:51] #10 closed

[2016-03-27 07:57] L-Jovi commented on #22
@spronin  thanks for your reply :)

[2016-03-27 21:30] tomav commented on #23
I saw that, but it's a more basic version. :-)
I was wondering if you could provide the exact example you display as gif.

[2016-03-29 10:56] phil-r commented on #23
@tomav https://github.com/appintheair/react-native-buyscreen is the exact example ;)

[2016-04-08 20:29] eranbes opened #25 "Any reason why it's not <0.24.0?"

[2016-04-09 05:30] ZackZheng2014 opened #26 "Vertical Bounce seems true after back to page"
When I click my TouchableOpacity Component, I push a viewController. Then the content in the Carousel have some distance away from the Carousel's top when I pop back to.
And I can drag the content down.
It seems that Vertical Bounce changed to true.

[2016-04-12 02:04] spronin commented on #25
updated to 23 for now (since its in release)
will check 24 and update in the next couple of hours

[2016-04-12 02:04] #25 closed

[2016-04-12 08:47] phil-r commented on #25
@eranbes @spronin updated

[2016-04-20 12:16] rturk opened #27 "Please clarify why this is not recommended for RN0.24 or is just a typo?"
HI,

According to package.json this repo is **not** compatible with RN 0.24 or this is just a typo (missing `<=`)?

  "peerDependencies": {
    "react-native": ">=0.16.0 <0.24"
  },

npm WARN react-native-looped-carousel@0.0.10 requires a peer of react-native@>=0.16.0 <0.24 but none was installed.

[2016-04-20 14:07] herby commented on #17
Close this?

[2016-04-20 14:08] herby opened #28 "There is rn 0.24 out"
Could you update deps if it works for that version and release 0.0.11 with `<0.25`? Thanks.

[2016-04-20 14:10] herby commented on #28
(Is that '<xxx' needed at all? Isn't optimistic ">= only" with "we'll fix it once needed" easier solution for users? It stops my upgrade to rn 0.24 b/c npm shrinkwrap fails)

[2016-04-20 14:21] phil-r commented on #28
Yeah I think `optimistic` solution is better, thanks
New version is published

[2016-04-20 14:21] #28 closed

[2016-04-20 14:22] phil-r commented on #27
The limit was removed, If you'll encounter any problems - please report

[2016-04-20 14:22] #27 closed

[2016-04-20 14:25] rturk commented on #27
I'll run some tests!

[2016-04-20 23:48] spronin commented on #17
We still need so work to do here, unfortunately ;(

[2016-05-06 16:12] pcarion opened #29 "react native 0.15 import fix"
In order to avoid warnings when using your (great) package in rn 0.25+, you need to change your imports to:

[code]

Thanks

[2016-05-08 17:58] Emilios1995 commented on #29
Done in PR #30

[2016-05-11 03:19] #29 closed

[2016-05-16 03:56] Suxiaogang opened #31 "miss a comma in the demo code"
https://github.com/appintheair/react-native-looped-carousel/blame/master/README.md#L36

[2016-05-17 10:55] phil-r commented on #31
@Suxiaogang nice catch
updated the Readme ;)

[2016-05-17 10:55] #31 closed

[2016-05-30 09:52] gre commented on #10
I still feel this is a bug.
inner content that is higher that the carousel constraint should be allowed if I want to just "overflow:hidden" with the carousel height. Imagine if you do animation on carousel height, it's not performant to re-render all cells heights everytime the main height changes..

[2016-06-24 18:57] jjhargreaves commented on #17
@seb0zz: react-native-swiper also seems to lack endless scroll support/general support for Android if I'm not wrong, that's why I'm here 😂

[2016-07-11 20:51] stantoncbradley opened #33 "FEATURE REQUEST: ability to pass index of child you want displayed first"
I want to specify the initial view to display when rendering the carousel.

Thanks!

[2016-07-14 15:52] ruskid opened #34 "Readme Example has no limit of slides?"
I am using Readme example. Something with children length?
![image](https://cloud.githubusercontent.com/assets/8279841/16846166/a895f716-49eb-11e6-8de9-866cf3f8305d.png)

[2016-07-27 01:15] britzlieg opened #35 "It looks like that the memory usage never stops increasing."
When I finished rendering the component , I just watch the memory usage and just do nothing.The memory usage is inscreasing second by second . Then after about 3 minutes , the memory usage is above 200M ! Is that a bug for this component , or not ? Thanks for your answer.

[2016-08-08 19:17] nvartolomei opened #36 "onMomentumScrollEnd undocumented"
I'm wondering where you found this prop?

[2016-10-05 12:42] waleedarshad-vf commented on #36
https://github.com/appintheair/react-native-looped-carousel/search?utf8=%E2%9C%93&q=onMomentumScrollEnd :)

[2016-10-12 20:07] phil-r commented on #36
fixed by #37
https://github.com/appintheair/react-native-looped-carousel#props

[2016-10-12 20:07] #36 closed

[2016-10-12 20:07] phil-r commented on #34
fixed by #37
that was a bug

[2016-10-12 20:07] #34 closed

[2016-10-12 20:08] phil-r commented on #33
fixed by #32 and #37
https://github.com/appintheair/react-native-looped-carousel#props

[2016-10-12 20:08] #33 closed

[2016-10-12 20:09] phil-r commented on #26
@ZackZheng2014 Can you provide an example?

[2016-10-12 20:09] phil-r commented on #17
fixed by #37

[2016-10-12 20:09] #17 closed

[2016-10-12 20:12] stantoncbradley commented on #33
fantastic thanks so much!  this has been a popular request from my users, can't wait to try it out!

[2016-10-12 20:17] phil-r commented on #35
Hi @britzlieg , sorry for the long reply. I wasn't able to repro on the Example after a couple of minutes memory actually reduced from ~76 to ~60 MB

if you have an example of code with the leak - I'l be happy to help.

![image](https://cloud.githubusercontent.com/assets/577316/19326108/8248f87c-90c9-11e6-8ecc-2402de04845a.png)

[2016-10-12 20:17] #35 closed

[2016-10-12 20:23] phil-r commented on #33
@stantoncbradley feel free to create new issues if there will be any problems wth the new version ;)

[2016-10-15 19:03] rturk opened #38 "Why this package uses Dimensions and Size?"
Maybe I'm missing Is there a particular reason to use Dimensions size via internal state, can you just use `flex: 1` in the main container?

IMO this will be a much cleaner code and maybe even  faster.

[2016-10-18 13:38] krishbhattacharyya opened #39 "Problem in dynamic content"
Thank you for sharing this.

When I tried to implement this dynamically I got problem.

This is the component ( Within the modal )-
 <Carousel style={this.props.size} autoplay = {false} currentPage ={this.props.currentPage} > { DynamicContent }</Carousel>

The popup is looks fine with the dynamic content. But it can't able to load the currentPage. And I need only the Carousel not loop. So if it is

[2016-10-18 16:12] phil-r commented on #39
@krishbhattacharyya Never thought about such use case, i'll try to add this functionality this week.
P.S. PRs are always welcome ;)

[2016-10-18 16:14] phil-r commented on #39
@krishbhattacharyya Also you can disable loop by setting `autoplay` prop to `false`

[2016-10-18 16:45] phil-r commented on #38
@rturk Sure, It will work with with 'flex: 1`, untill you'll try to rotate your device, here what will happen:
![image](https://cloud.githubusercontent.com/assets/577316/19487399/e92526ae-9562-11e6-8c4f-6405077b7e26.png)

[2016-10-18 16:45] #38 closed

[2016-10-18 16:46] phil-r commented on #38
Here is the code I used to demonstrate this:
[code]

[2016-10-18 17:08] krishbhattacharyya commented on #39
@phil-r ... Thanks.... This is really helpful .... And I know about autoplay....

[2016-10-18 18:45] phil-r commented on #39
@krishbhattacharyya Can you provide a simple example, illustrating your problem?

[2016-10-18 20:40] robertkirsz opened #40 "Problem with going back via the bullets"
There is a problem with manual navigation via the bullets. Going forward is working as expected, but there are some problems with going backward. You can see this in the example app, just add `bullets={true}` prop to the Carousel. For example - when you go from the third screen to the second, the first one is visible for a brief moment during the transition.
Also, clicking on the active bullet tri

[2016-10-18 20:58] phil-r commented on #39
@krishbhattacharyya I've fixed a bunch of bugs today and added a new [example with Modal](https://github.com/appintheair/react-native-looped-carousel/tree/master/Examples/Modal)
Can you check whether it fixes your problems?

[2016-10-18 21:08] phil-r commented on #40
Thanks @robertkirsz nice catch

[2016-10-19 06:49] krishbhattacharyya commented on #39
Thanks, I like you .... for temporary this is working fine. Tonight I will share you the demo & there is an error. If you solve this it will be great for me & also you can use in your modal.

[2016-10-20 04:40] krishbhattacharyya commented on #39
Sorry for late review :

I am going to paste my code : ======================
import React, { Component } from 'react';
import {
  Text,
  View,
  Modal,
  TouchableHighlight,
  Dimensions,
  Image,
} from 'react-native';
import Carousel from 'react-native-looped-carousel';

const { width, height } = Dimensions.get('window');

const Page = (props) => (
  <View style={[{ backgroundColor: props.colo

[2016-10-20 04:55] krishbhattacharyya commented on #39
Due to some reason I could not upload my code ( Very Soon I upload it ):
Please this is my code.
Only the issue is -
Popup elements render two times. I just want to render this : As per given data.

Thank you.

`
/*----------------------- Props set -------------*/

this.state = {
      modalVisible: false,
      initArray: [],
      index:0
};

/*----------------------- function Open close--------

[2016-10-20 05:22] simonstewart opened #41 "Styling of bullets"
Great control!

Is it possible to style the bullets (eg: color)?

[2016-10-20 08:30] phil-r commented on #41
@simonstewart Of course it's possible, we can add new property, like `bulletsStyle`
I'll try to add this during the week, or you can open a PR, this should be quite straightforward enhancement.

[2016-10-24 04:03] krishbhattacharyya commented on #39
Sorry for late reply @phil-r .
This is my repo...
https://github.com/krishbhattacharyya/Modal
Everything is working fine except one thing. Image arrays are duplicating when render.  Can I stop this?

[2016-10-24 15:30] crHand commented on #41
Hi! @simonstewart @phil-r

FYI, I just made a PR that contemplates this request.

[2016-10-24 15:33] gogumai commented on #41
Hi! @simonstewart @phil-r

FYI, I just made a PR that contemplates this request.

[2016-10-28 04:55] nancyhuynh commented on #41
@gogumai  thanks - this is exactly what I was looking for since I need black bullets on a white background :)

@phil-r would it be possible to merge the PR soon? Thanks!

[2016-10-28 07:34] simonstewart commented on #41
@gogumai thanks!

[2016-10-28 16:35] theobouwman opened #43 "Pretty slow"
The carousel is slow

[2016-10-30 08:56] Paul-Todd opened #44 "Autoplay property not reflecting changes in property"
When I change the autoplay property from outside the component
[code]

then this does not change the autoplay state in the component.

I can do a PR but the change is pretty straight forward:

This is because the componentWillUpdateProps call needs to consider the autoplay and delay properties and start and stop the timer appropriately

[code]

[2016-10-30 19:20] phil-r commented on #43
@theobouwman What exactly is slow? You can change the delay between page changes using `delay` property.

[2016-10-30 19:21] phil-r commented on #43
I'm closing this for now as it's not clear what the problem is.

[2016-10-30 19:21] #43 closed

[2016-10-30 19:23] phil-r commented on #44
Hello @Paul-Todd PRs are welcome!

[2016-10-30 19:29] phil-r commented on #41
Hey guys!
@gogumai I've left a small comment for your PR, as soon as it's resolved I'll be happy to merge!

P.S. I'm sorry for the delay !

[2016-10-31 04:51] krishbhattacharyya commented on #39
Hi  @phil-r ,
I am waiting for your reply. Can you help me to stop the loop?

[2016-11-03 20:05] theobouwman opened #45 "Performance with much high res images is slow."
I am using react-native-looped-carousel with @exponent/ex-navigation and when I push a new route (view) to the NavigationStack where a looped-carousel need to render I find it pretty slow with multiple (4-8+)highres images.

I know that debugging is slow on iOS and Android with @exponent/ex-navigation. But I also tested the release version of the app. And my conclusion is the same as my expectatio

[2016-11-14 11:20] Crash-- opened #46 "Graphical issue"
When I put several images inside a slider, I got a weird graphical behavior (see gif). Have you an idea on how avoid that?

[code]
![bug](https://cloud.githubusercontent.com/assets/1107936/20262896/8f62081e-aa64-11e6-8216-ce2b824f6784.gif)

[2016-11-16 23:21] b8ne opened #48 "Autoplay only works after a manual scroll"
On page load autoplay does not begin, however if i manually scroll 1 slide, it does autoplay after the expected delay.

[2016-11-21 14:23] stuartjeasyodds commented on #48
Thanks @b8ne . Re initialising the timer works for me.

[2016-11-21 20:28] DeDuckProject opened #50 "Android paging block until going one page back"
I have a 4 page carousel.
Sometimes, not always, on Android, when I try going forward, I get stuck after the 2nd page. only when I go back one step, and then forward again, I can go more step forward.
Also I get weird inconsistent jumps with the animation.

Here's how it looks:
![tutorialandroidbug](https://cloud.githubusercontent.com/assets/10045034/20499358/d5170fb4-b039-11e6-9d56-a02ce8897e67.g

[2016-11-21 21:10] b8ne commented on #48
Hey @stuartjeasyodds yeah i found that. Hence the referenced PR to automate it :)

[2016-11-30 15:23] hugohow opened #51 "Switch page"
Is there a method for changing dynamically the current page ?
I tried with the currentPage props, but it only changes the initial page .

Thanks for this library !

[2016-11-30 16:14] hugohow commented on #51
Ok I did something like this :

[code]

If you want to, I can add a more generic example to the README ;)

[2016-12-04 09:04] DeDuckProject commented on #48
This seems similar to the issue I've encountered #50 . only after a manual scroll the next steps are enabled. How do u init the timer? I want to check if it fixes my problem as well

[2016-12-04 09:30] b8ne commented on #48
Ive submitted a PR to fix.
On 4 Dec 2016 8:04 PM, "DeDuckProject" <notifications@github.com> wrote:

[2016-12-04 09:33] DeDuckProject commented on #48
@b8ne tnx I see it

[2016-12-04 09:34] b8ne commented on #48
All good mate. Didnt mean to be blunt. Just replying from phone.
On 4 Dec 2016 8:33 PM, "DeDuckProject" <notifications@github.com> wrote:

[2016-12-04 09:53] DeDuckProject commented on #48
@b8ne no worries mate ;) I implemented you PR and it didn't fix my issue.. so they are not from the same cause :(

[2016-12-10 08:09] sudhanshu6247 commented on #50
I am also facing the same problem. There are 3 pages in my carousel and it works fine till scrolling first page and reaching to second page. I get stuck after 2nd page. Please help.
Here is my code:
<Carousel
            delay={3000}
            style={this.state.size}
            autoplay={false}
            pageInfo
            onAnimateNextPage={(p,q,r) => {console.log(p,q,r);}}

            <V

[2016-12-15 04:06] duzliang commented on #41
We can styling bullets container View style, can we styling it's parent View style?  so we can control the position of bullets container

[2016-12-15 21:19] JasonFok commented on #50
Same

[2017-01-10 05:22] dragonwong commented on #50
the same

[2017-01-13 13:46] Proberts opened #56 "Abandonded?"
Has this component has been abandoned? I see there are many old pending pull-reqs. I've forked and added stuff but won't bother with submitting a PR if there's no one maintaining it.

[2017-01-13 21:32] Proberts commented on #56
@phil-r I have a branch that has all the current PRs merged (including the missing ones) and all the conflicts resolved except two eslint issues I don't know what to do with. (Eslint wants a comma at the end of a section of JSX) Would you like me to send a PR? I'm happy to resolve the two eslint issues if you can point me in the right direction.

[2017-01-18 15:11] Yuriy1988 opened #58 "setCurrent page method and isLooped prop"
Your component is very nice! Thank You!
Could you provide this with method setPage: actually I do it with
this.сarousel._setCurrentPage(cardNum);
this.сarousel._placeCritical(cardNum);

Also it would be nice to have isLooped prop :)

[2017-01-18 23:27] luco commented on #50
+1

[2017-01-21 15:27] phil-r commented on #56
@Proberts Thanks for your PR, I've just merged it.
I'll release new version to npm soon

P.S. If you want I can add you as a collaborator to this repo.

[2017-01-23 21:36] ammichael commented on #50
+1

[2017-01-23 22:01] JasonFok commented on #50
+1 Works perfectly fine on iOS though

[2017-01-27 17:49] stief510 opened #59 "Difference between pageStyle and contentContainerStyle"
What is the difference between the two as well as styling the component itself?

[2017-01-27 20:50] jasmo2 opened #60 "¿How do to lazy load?"
Hello I am rendering a lot slides so I prefer to do a lazy on each swipe call. ¿How could it be posible?

[2017-01-30 16:52] gmarty opened #61 "Disallow gesture to switch page"
That'd be nice to disallow the swipe gesture to advance pages and rely on an explicit API to programmatically go to the next page.
This would make it possible to use this component for first time user experiences where you have to click on 'Next' buttons to advance in the tutorial.

[2017-01-31 07:19] katlehotech opened #62 "Prevent Autoplay"
I don't want it to autoplay at all. I want to manually swipe all the time

[2017-01-31 14:33] Clowning commented on #50
I have almost the same problem ! When i have 3 screens, on the second, i can't swipe to the third ! But with the autoplay, it works ! :/ ! If you have a fix maybe?

[2017-01-31 21:06] stief510 commented on #62
Set autoplay to false

[2017-02-01 12:04] katlehotech commented on #62
How?

On 31 January 2017 at 23:06, Aryeh Stiefel <notifications@github.com> wrote:

--
This message and attachments are subject to a disclaimer. Please refer to
http://www.it.up.ac.za/documentation/governance/disclaimer/ for full
details.

[2017-02-01 13:23] stief510 commented on #62
[code]

[2017-02-01 22:00] stief510 commented on #39
+1

[2017-02-06 21:42] katlehotech commented on #62
Thank you

[2017-02-06 21:44] ammichael commented on #50
Hey guys, I've updated my react and react-native to the latest version (15.4.2 and 0.41.2 respectively
), and suddenly the bug is gone! 🎉

[2017-02-07 09:48] Clowning commented on #50
Oh great :D ! I'm gonna test it ! :)

[2017-02-07 22:43] ryanhomer commented on #50
@ammichael @Clowning Updating to RN 0.41.2 (from 0.41.0) with React 15.4.2 did **_not_** help alleviate the issue for me completely but it does seem to stick on page 2 (It's always on page 2) less frequently.

[2017-02-07 23:57] ryanhomer commented on #50
After further investigation, it seems like this might be a core bug. I'm working exclusively with Android at the moment, so I'm guessing that this is in the ScrollView control on the Java side.

Let's say we have 4 pages, page 0 to page 3 (last page). Two additional pages will be created, page 4 = page 0, and page 5 = page 1.

If your initial page is page 0, a non-animated scroll will move you to

[2017-02-08 00:26] ammichael commented on #50
@ryanhomer Very nice debugging! hahaha

Hopefully you'll find and fix it, because I probably would take a full year to (not very skilled in Java).

Thanks for being so helpful already!

[2017-02-08 10:54] DeDuckProject commented on #50
@ryanhomer Your fix works pretty good as a temp workaround for me at the moment..
Hope the solution is close :) 💃

[2017-02-08 18:21] Clowning commented on #50
@ryanhomer  Thank dude :D !!!!!

[2017-02-09 09:08] cheshuangchun opened #64 "React.Children.only expected to receive a single React element child"
This is my code
render()
	{
		return(
			<View style = {{height:this.state.pHeight}}>
				<Carousel
					delay={2000}
					style={{flex:1}}
					autoplay
					bullets

					{this.renderImg()}
					</Carousel>
			</View>
		);
	}

renderImg(){
        var imageViews=[];
        for(var i=0;i<this.state.adList.length;i++){
            imageViews.push(
                <Image
                	key={i}

[2017-02-09 17:34] AbeHerbert opened #65 "Documented properties not correct"
The style property for arrowsStyle is actually arrowstyle... see line 36 of index.js

[2017-02-16 20:24] anders-g-hansen commented on #64
I was also seeing this issue.  The problem occurred when my dynamic content (imageViews for you) was a length of 1.  Just opened PR #66 that fixed this for me.

[2017-02-17 02:29] kevindavis commented on #58
@Yuriy1988 can you share how you did that? my attempt failed :(

[2017-02-17 07:58] Yuriy1988 commented on #58
Here I have my carousel

<Carousel
    ref={ref => (this.сarousel = ref)}

and when I need - I just call this.сarousel._animateToPage(pageNum');

Actually I changed a little the source of сarousel, and if method above will not work for you - let me now, i can share working example;

[2017-02-18 20:41] ryanhomer commented on #50
@ammichael @DeDuckProject @Clowning I've not been able to determine yet if this is fixable on the Java side. I managed to track down this piece of code in `node_modules/react-native/ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollViewManager.java`:

    @Override
    public void scrollToEnd(
	    ReactScrollView scrollView,
	    ReactScrollViewCommandHelper.ScrollToEndCommand

[2017-02-18 21:34] juangl opened #68 "Undocumented property"
I saw [this line](https://github.com/appintheair/react-native-looped-carousel/blob/2a1d0dd7ac75cfe30028437c861ea9c9e397622e/index.js#L305) and I wonder what this property does since it's not documented in [the react native docs](https://facebook.github.io/react-native/docs/scrollview.html).

[2017-02-22 00:56] kevindavis commented on #58
@Yuriy1988 thanks for the reply! that helped me figure out how to have a reference to the carousel throughout the component

I put this.carousel._placeCritical(); in componentWillUpdate and it seems to have solved my problem

I'd be curious to see your changes though - do you have a diff?

[2017-02-23 21:50] ghprud opened #70 "undefined is not an object error with the master branch code"
I am having issues loading my app with the code from master branch. The app shows an error "undefined is not an object (evaulating '_react2.default.propTypes.oneOfType')". I need the latest code as one of the issues I was having is fixed in the latest commit. Please let me know how soon this can be fixed.

Thanks!
<img width="398" alt="screen shot 2017-02-23 at 1 46 35 pm" src="https://cloud.githu

[2017-02-24 10:47] arn8tas opened #71 "Wrong bullets rendering in iOS device."
Bullets looks good (circle) in iOS simulator, but in real device it looks like raindrop (iPhone SE iOS 10)

[2017-02-27 09:44] #71 closed

[2017-02-27 09:45] arn8tas commented on #71
After restart my phone no issue anymore.

[2017-03-04 20:48] Yuriy1988 commented on #58
@kevindavis
Sorry, for late response, but i had a lot of work
here is diff
https://gist.github.com/Yuriy1988/b52c060540443c21e7fbbe4f92626a91
Actually, i don't remember what for i changed it :)

[2017-03-09 00:41] kevindavis commented on #58
thanks!

[2017-03-13 13:54] sospedra opened #75 "Release?"
Last changes are not release to npm :/

[2017-03-22 06:22] xjrad opened #79 "crash when carousel only has one child"
here is my code:

let images = []
......some dynamic images operation
<Carousel
                        style={{width: WIN_WIDTH, height: WIN_HEIGHT, backgroundColor: 'rgba(0, 0, 0, 0.6)'}}
                        currentPage={this.state.selectIndex}
                        autoplay={false}
                        pageInfo={true}
                        pageInfoBackgroundColor='rgba(0,0,0,0.8)'

[2017-03-27 08:54] viktorsec commented on #79
We have the same problem.

[2017-04-02 11:43] ChangeSomeCode commented on #79
+1

[2017-04-04 18:31] dxiao opened #81 "Android not respecting currentPage"
It seems like when using the library on android, the currentPage property is not properly respected. Regardless of what you set for current page, it always goes to the first page. Moreover, it's not position `childrenLength * width`, but just `0`, which means you have to page 2 pages over before you can scroll backwards.

This seems to be due to https://github.com/facebook/react-native/issues/6849

[2017-04-05 19:40] edward-of-clt opened #83 "Can't scroll through when carousel within scrollable tab component"
When you are within a scollable tab component on Android, the whole page is changed rather than the carousel object.

[2017-04-11 16:01] viktorsec opened #84 "Enable multitouch events for children"
I'd guess a pretty common use case for carousel is something like the native iOS photo gallery. A carousel with zoomable images.

I understand that zooming might be out of scope of this project, but it would be nice to be able to put some zoomable images from a 3rd party library into carousel views. E.g. [react-native-photo-view](https://github.com/alwx/react-native-photo-view).

The problem is, t

[2017-04-17 23:34] dxiao commented on #79
Already fixed in #66 , just needs to be published to npm.

[2017-04-24 03:55] wuyunqiang commented on #79
i know it .
react-native-looped-carousel /index.js
TouchableWithoutFeedback change to TouchableOpacity.
it's ok.

[2017-04-30 01:58] jjant opened #88 "Component doesn't work in React 16.0.0-alpha6"
The component yields an `this.updater.enqueueCallback` is not a function error, as react 16.0.0-alpha6 removes the callback functionality from `setState`.

[2017-04-30 07:01] PhpGuyZim opened #89 "Cannot read property 'oneOfType' of undefined"
Trying to run the example in readme as-is without any modification.
RN 43, Windows, Android

Am I missing something?

[2017-04-30 07:19] PhpGuyZim commented on #89
Never mind. I fixed this, and it's addressed here: https://github.com/appintheair/react-native-looped-carousel/pull/85

[code]
Should be:
[code]

Note the "P" in "React.propTypes"

[2017-04-30 07:20] #89 closed

[2017-04-30 19:00] jjant commented on #88
The problem is the `_setCurrentPage` method:
[code]

The workaround I found was to do the following:
[code]

[2017-05-01 00:12] acanyon opened #90 "Navigator's HorizontalSwipeJump Overriding Page Swipes - Propagation problem?"
I'm using react-native Navigator's HorizontalSwipeJump to back swipe screens.

With a Carousel it seems HorizontalSwipeJump overrides the carousel swipes and swipes forward or backward through nav.

Any ideas on how to fix?! Could this be a hierarchy problem?

Please and thanks! <3

[2017-05-06 13:28] phil-r commented on #79
Should be fixed by #67

[2017-05-06 13:28] #79 closed

[2017-05-08 16:42] ryanhomer commented on #88
I'm surprised that RN 0.43.x uses React 16.0.0-alpha.6 already. I'm also surprised that the current stable release of RN is 0.44 since it also uses the same version of React... while the current stable release of React is at 15.5.4.

@jjant Thanks for the proposed solution. I will investigate what's going on with React 16 viz-à-viz `setState` but until it becomes a stable release, not sure what ac

[2017-05-09 02:50] ajonno opened #92 "Horizontal swipe not working on Droid after update"
I just updated to 0.1.6 and now horizontal swipe isn't working on Android. (still works fine on iOS).

``` "react-native": "0.42.3",```

The component inside the ```<Carousel>```is very simple and looks like this:
[code]

Is anyone else seeing this ? Would we need to update a particular prop on Droid ? I looked but couldn't see anything specific.

[2017-05-09 13:12] ryanhomer commented on #92
It's probably related to #88.

[2017-05-09 13:17] ryanhomer commented on #92
Hi @ajonno. What version of RN were you using before? I currently have it working on 0.42.0. I will be updating to 0.42.3 soon at which point I'll be able to look into this further.

[2017-05-09 16:38] Jose4gg commented on #92
+1

[2017-05-09 17:29] ryanhomer commented on #92
So the issue has to do with the `renderArrows` function which creates overlay views that do not allow the touches to go through to the underlying view that needs to receive them. I don't know why this is suddenly an issue with 0.1.6 since that function hasn't changed since its original implementation.

Adding `pointerEvents="box-none"` to each of the two View components in the code as follows solv

[2017-05-09 19:04] ryanhomer commented on #92
@ajonno @Jose4gg Please try installing the following fix to see if this solves your issue:

`npm install https://github.com/ryanhomer/react-native-looped-carousel/tarball/bugfixes`

If all's well, I'll merge in the changes.

[2017-05-09 23:14] viktorsec commented on #75
They are released now :)

[2017-05-09 23:14] #75 closed

[2017-05-09 23:17] viktorsec commented on #65
This has been fixed in the meantime, but thanks for reporting!

[2017-05-09 23:17] #65 closed

[2017-05-09 23:18] #62 closed

[2017-05-09 23:23] viktorsec commented on #58
It's not yet in the docs, but we renamed `_animateToPage()` to `animateToPage()`.

Feel free to call the method to slide the carousel programatically (it will do the animation as well).

We do also happily accept PRs for other functionality!

[2017-05-09 23:25] viktorsec commented on #64
This issue has been fixed.

[2017-05-09 23:25] #64 closed

[2017-05-09 23:41] viktorsec commented on #61
Being solved in #74

[2017-05-09 23:45] viktorsec commented on #60
I'm not sure if this is still relevant to you, but I guess you would need to monitor the carousel state through `currentPage` and tell your views to update as necessary.

In case you don't know the number of pages beforehand, than even that might not work as it might mess the pagination up.

[2017-05-09 23:48] viktorsec commented on #70
This has been fixed in the mean time.

[2017-05-09 23:48] #70 closed

[2017-05-09 23:57] viktorsec commented on #48
@DeDuckProject I know it's a long time, but is this issue still existent?

[2017-05-10 00:07] viktorsec commented on #81
The fix was merged, thank you!

[2017-05-10 00:07] #81 closed

[2017-05-10 02:33] ajonno commented on #92
thanks for quick response Ryan. unf. that didnt work on Android - as i was trying to swipe (right to left) to go to the next card, the card i was on just "stuttered" ie. like it was trying to scroll but was unable.

[2017-05-10 12:49] leoaccorsi commented on #92
@ryanhomer this fix worked for me

[2017-05-10 15:47] ryanhomer commented on #92
@ajonno Well, I'm not quite sure what's going on for your situation but since my changes were a little behind master and I've rebased and also made a few more changes, could you try again? You may need to force a reinstallation (uninstall/install). Thanks.

[2017-05-10 16:30] ryanhomer commented on #92
@ajonno I'm going to go ahead an merge in PR #93 since it contains other fixes as well. Nonetheless, we can continue to work on your issue.

[2017-05-10 16:50] ryanhomer commented on #90
I've confirmed this to be the case. Interestingly, trying to find the documentation on `HorizontalSwipeJump`, it looks like the documentation for `Navigator` was removed as of version RN 0.44; only [`NavigatorIOS`](http://facebook.github.io/react-native/releases/0.44/docs/navigatorios.html) remains. Furthermore, on the `NavigatorIOS` page it states:

[2017-05-10 16:54] #50 closed

[2017-05-10 23:00] ajonno commented on #92
Ok no worries much appreciated. I guess it's just a matter now of you being able to reproduce the problem?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ryan Homer <notifications@github.com>
Sent: Thursday, May 11, 2017 2:30:36 AM
To: appintheair/react-native-looped-carousel
Cc: Angus Johnston; Mention
Subject: Re: [appintheair/react-native-looped-carousel] Hor

[2017-05-11 12:54] viktorsec commented on #26
Closing for inactivity.

[2017-05-11 12:54] #26 closed

[2017-05-11 22:32] beausmith opened #97 "`pageStyle` prop doesn't apply style"
The `pageStyle` prop doesn't apply styles because the `<TouchableWithoutFeedback>` component does not support style.

## Issue

See [index.js lines 142-144](https://github.com/appintheair/react-native-looped-carousel/blob/master/index.js#L142-L144):

    <TouchableWithoutFeedback style={[{ ...size }, this.props.pageStyle]} key={`page${i}`}>
      {page}
    </TouchableWithoutFeedback>

## Repro

T

[2017-05-12 19:40] Thomsos opened #101 "Prevent Looping to First Slide from Last"
Is it currently possible to prevent looping to the beginning (when on the last slide) or looping to the end (when on the first)?

[2017-05-13 03:52] FullstackJack opened #102 "Add tvOS Focus Engine Support"
Currently, the carousel does not focus or handle  swipes when presented in a tvOS app.

Expected Behavior: The entire carousel should receive focus. When a user swipes right or left on their remote, the slides should advance forward or backward. Arrows should not be touchable. Bullets should not be touchable.

This may require the main container to be a Touchable and we may need to register a TV g

[2017-05-13 04:55] FullstackJack commented on #102
The latest docs show how to register focus and blur even handlers as well as listening for remote events using the TVEventHandler class. http://facebook.github.io/react-native/releases/next/docs/building-for-apple-tv.html

[2017-05-18 09:50] viktorsec commented on #101
Unfortunately this is not currently supported. PRs are always welcome!

[2017-05-26 16:17] gwenf opened #108 "Icons and Text styles for arrows"
I was trying to change the styling for the arrows, but the way the code is written for this package, it only lets me change the `TouchableOpacity` and `View` tags that wrap the `Text` tag.

So, on lines 314 and 315 in the `index.js` file I added `style={this.props.leftStyle/rightStyle}`:

[code]

Also, the README file says using icons are supported, but I don't see a way to do this with how the co

[2017-05-26 16:29] phil-r commented on #108
Hi @gwenf ,
I've never used this functionality myself, if you think that something is wrong/not working/not documented properly - feel free to submit a PR

[2017-05-26 16:31] phil-r commented on #108
But just adding `leftArrowText` and `rightArrowText` properties with your icon component should work.

[2017-05-26 16:46] gwenf commented on #108
`this.props.leftArrowText` works fine, but I want to change the styling for the Text; that's why I added the style attribute to `Text`.

I can submit a PR if you want.

[2017-05-26 16:51] #68 closed

[2017-06-18 17:06] gwenf commented on #108
I forgot to update this. I am able to pass a custom component into leftArrowText and rightArrowText and that suits my needs. Thank you.

[2017-06-18 17:06] #108 closed

[2017-06-22 01:22] TimbreApp opened #110 "How to get current page?"

[2017-06-22 02:46] TimbreApp opened #111 "How to access pageInfo component so I can move it in a different view"
#

[2017-06-22 10:26] viktorsec commented on #110
Hi, you can use `getCurrentPage()`.

Example:

[code]

[2017-06-22 11:56] TimbreApp commented on #110
Thank you so much, you are awesome!

[2017-06-22 12:02] TimbreApp commented on #110
If you don't mind me asking, how would you put that method into a text component? It keeps telling me it's unidentified.

[2017-06-26 13:04] Devikaelangovan opened #114 "shadowOffset is not working in Caresoul"
I want to highlight my card for both android and IOS.
In IOS, for  <Caresoul> component i used "ShadowOffset, radius, opacity and shadowcolor" but its not reflecting.

Please suggest why its not working?

[2017-06-27 16:02] makassigithub opened #115 "Testing the Api with jest (Unit-test)"
TypeError: _this.scrollView.scrollTo is not a function

[2017-06-28 12:42] Devikaelangovan commented on #41
is there any way to change the bullets position?

[2017-07-05 10:45] Msspl-PrashenjeetRoy commented on #101
Is there any solution to prevent looping from last screen to first? There is same problem.

[2017-07-05 11:34] ittianyu opened #116 "Too slow when load image from network"
I can't click other ui when load data from server and generate the view into carousel.
Only when all the images are loaded, it will show the ui.

[2017-07-09 10:16] Devikaelangovan opened #118 "Alignment got changed when i re rendered the data inside caresoul view"

[2017-07-09 10:20] Devikaelangovan commented on #118
Another observation is, when i delete the nth item in the list then, till nth item the list was perfectly showing. after nth item, alignment totally collapsed

[2017-07-09 13:05] wouterkool91 commented on #101
I made a simple fix to disable looping, see [this commit](https://github.com/wouterkool91/react-native-looped-carousel/commit/63abde6058ddc91334ef99c08928e8bf35d1ccad). I only did some basic testing on iOS. Hope this can help you anyway.

[2017-07-09 13:08] wouterkool91 commented on #58
As regards the isLooped prop, see my comment to #101.

[2017-07-10 17:57] wouterkool commented on #101
I made a simple fix to disable looping, see [this commit](https://github.com/wouterkool/react-native-looped-carousel/commit/63abde6058ddc91334ef99c08928e8bf35d1ccad). I only did some basic testing on iOS. Hope this can help you anyway.

[2017-07-10 17:59] wouterkool commented on #58
As regards the isLooped prop, see my comment to #101.

[2017-07-17 09:01] GROL opened #119 "With RTL direction don't works"
Hi,
I try component with Arabic language (RTL direction). I don't see any images in carousel but in LTR works fine.

[2017-07-20 14:32] dooubsam commented on #41
@Devikaelangovan Overwrite styles.

[code]

[2017-07-24 07:59] jsshizhan opened #120 "Cannot read property 'measure' of null"
<Carousel
          delay={2000}
          style={this.state.size}
          bullets
          chosenBulletStyle={{backgroundColor:COLOR.active}}
          bulletsContainerStyle={{backgroundColor:COLOR.white}}
          bulletsContainerStyle={{justifyContent:'flex-end'}}
          pageInfoBottomContainerStyle={{backgroundColor:COLOR.light_gray}}
          currentPage={1}>
          {this.carouselL

[2017-07-28 11:16] Gurmindermultani opened #121 "View more than one page in container"
Hello
I wanted to show more than one slide in the container with an infinite loop to swipe left and right. Any help would be much appreciated.

Thanks

[2017-08-01 13:33] nilaybrahmbhatt opened #122 "Auto Play Not Worked Perfectly"
<Carousel
   delay={1000}
   style={{width:400,height:400}}
   autoplay={true}
   pageInfo={true}

      {this.renderSlider()}
</Carousel>

[2017-08-02 10:27] #120 closed

[2017-08-10 02:43] lizhuoyuan opened #124 "How do I change the location of the lower dots?"
Changing its position in the pattern is invalid

[2017-08-14 21:38] arcifius opened #125 "arrowsStyle not getting applied"
I wanted to put a circle around the arrow icon but arrowsStyle isn't begin applied at all...

[2017-08-17 20:27] Enricopv opened #126 "Carousel within Carousel not working in Adroid"
I have a carousel of views, where each of these views has a carousel of images. It works as expected on iPhone, however on Android swiping on the inner carousel (of images) does not work and instead swipes the outer carousel from view to view.

Has anyone else had this problem and found a solution?

[2017-08-23 05:45] Shpadoinkle commented on #101
isLooped set to false doesnt seem to work for android. too bad  :(

[2017-08-23 10:20] njnest opened #127 "currentPage works just like initialPage?"
Hi. When I change the currentPage nothing changes.
Is it possible to manage a page change outside the carousel?

[2017-08-27 06:02] akshaygore06 commented on #101
It's working for ios and android correctly. Can you please create a PR?

[2017-08-29 15:11] felipesousa commented on #125
@arcifius hello bro'.

I create a PR resolving this issue!

[https://github.com/phil-r/react-native-looped-carousel/pull/128](feature: add props to style left and right arrows.)

[2017-08-29 15:23] felipesousa commented on #101
@wouterkool you can create a PR with this things?

[2017-08-29 16:15] arcifius commented on #125
Nice, hope it get accepted to master branch too :D

[2017-08-30 17:37] felipesousa commented on #125
Hey @arcifius, I made [this module](https://www.npmjs.com/package/react-native-looped-carousel-improved), is just the improvement of these component with another things. <3

[2017-09-03 11:07] wouterkool commented on #101
@akshaygore06 @felipesousa I created a pull request [#129](https://github.com/phil-r/react-native-looped-carousel/pull/129)

[2017-09-05 17:24] bnerDY commented on #120
How do you solve this ?

[2017-09-05 18:14] bnerDY opened #130 "Cannot read property 'measure' of null"
really not sure about this
FYI

"react": "16.0.0-alpha.6",
"react-native": "^0.44.0",
![image](https://user-images.githubusercontent.com/5085327/30075685-1f4503c8-92a9-11e7-87ea-1c72a8459c1b.png)

[2017-09-06 18:20] masiamj commented on #130
+1

[2017-09-11 21:59] viktorsec commented on #127
Yep, that's exactly what it is for! We should add it to the docs.

[2017-09-12 14:54] JonFridrik opened #131 "Incorrect readme for arrowStyle"
Read me says arrowsStyle but the actual prop name is arrowStyle

[2017-09-13 07:36] lironess opened #132 "Publish new version"
Can you please publish a new version?
I need that prop-types fix at package.json because the library shows an error for using the old propTypes from React.

Thanks!

[2017-09-29 00:39] ImAtome opened #135 "Undefined PropTypes.node"
Everything worked well until I update my packages.

This is where the problem come from : [https://imgur.com/a/tHmNx](url)
 Is someone else is facing this issue?

[UPDATE] : This is is due to React.PropTypes which is now removed from React and available on 'prop-types' npm package.

[2017-10-01 17:42] icfr commented on #132
you can use this in your package.json

[2017-10-01 17:58] icfr commented on #135
you can use this in your package.json

[2017-10-04 08:54] rishabh-saxena commented on #41
@Devikaelangovan I have raised a PR for positioning of bullets.https://github.com/phil-r/react-native-looped-carousel/pull/137 .Lets see when it gets merged.

[2017-10-05 17:02] bkniya commented on #135
Can you describe, how to use this code in my packege.json ?

[2017-10-05 17:08] icfr commented on #135
look add [this](http://remarkablemark.org/blog/2016/09/19/npm-install-from-github/)

[2017-10-06 06:46] bkniya commented on #135
Thank you for your reply, I have already installed this plugin but after update react-native has encountered this error

[2017-10-16 01:53] coman3 commented on #132
for anyone, @icfr means to just run `npm install phil-r/react-native-looped-carousel#e23e1ad41e67ee9e95558e7df00c364fbb1b688b` instead. This fixed the issue right away.

[2017-10-18 09:38] 6axter82 opened #138 "large number of cards forces crash"
Hi, I have a large amount of cards to render and to show within the Carousel. About 190 cards, and the app is just crashing all the time. Do you have any idea what could be the reason and how to track it?

Thanks!..

[2017-10-20 14:43] assuncaojr commented on #130
+1

[2017-10-23 20:48] mgiachetti commented on #135
@phil-r can you release a new version with this fix?
the latest version 0.1.7 does not have this.

[2017-10-24 11:31] SreesanthNair opened #139 "Unable to apply style on bullet numbers"
I could apply style to bullet text but not to bullet numbers. As I could see from debug, style is getting applied to inner element and not <li> element

Steps to reproduce:

Create a numbered list
Select all the text, change the font size, color...

Result: The numbers are not affected

[2017-10-26 13:51] emarar commented on #135
+1

[2017-10-26 13:52] emarar commented on #135
phil-r/react-native-looped-carousel#e23e1ad41e67ee9e95558e7df00c364fbb1b688b

works fine by the way. :)

[2017-10-26 17:57] i8wu commented on #130
https://github.com/phil-r/react-native-looped-carousel/pull/109

[2017-11-02 05:15] rishabh-saxena opened #140 "The carousel gets stuck at the 2nd image."
After updating 'react-native-looped-carousel' to the latest commit 'e23e1ad41e67ee9e95558e7df00c364fbb1b688b' in order to accomodate React Native dependency of version 0.49. The carousel gets stuck at the 2nd image.

[2017-11-24 05:51] cerberusv2px opened #142 "Undefined error in PropTypes.node"
Facing error on line 21 in the library.
_react3.default.PropTypes.node in undefined.

version
react: 16.0.0
react-native: 0.50.3,

[2017-11-24 19:48] TimbreApp commented on #142
I have this exact same error, might have to use a previous version of react native.

[2017-11-24 21:49] HossamSamir commented on #142
I have the same issue, I looked it a bit and I found that the problem with ``View.propTypes`` is deprecated and instead ``ViewPropTypes`` is used from RN44.
will you guys upgrade soon?

[2017-11-24 22:47] HossamSamir commented on #142
[react-native-swiper](https://github.com/leecade/) works well for me though if you're looking for an alternative .

[2017-11-28 22:31] BigPun86 opened #143 "On Android device onAnimateNextPage wont be triggered?"
No idea what´s happening here, but onAnimateNextPage isn´t called on android. Any ideas?

[2017-11-30 11:24] Frexuz opened #144 "Delayed bullet selected index"
Is it possible to update the bullets when the swipe starts, rather than ends?
When you scroll through the slides fast, the select bullet stays, and then jumps multiple bullets when i'm done swiping.

gif:
![2017-11-30 19 18 35](https://user-images.githubusercontent.com/49692/33428449-d733808e-d603-11e7-8127-ceb1daf17a8c.gif)

---

- i'm exaggerating the speed in the example, but i've felt it when

[2017-12-07 03:46] ChaseChan opened #145 "Did it support scroll to specified position"
I use react-native-swiper and want it to scroll to specified,it supply an api which calls scrollBy,but it seems not good,when i changed it first time,it work correctly,but the second time I tried again,it give me a wrong position.So Your document do not introduce you have scrollBy similar to react-native-swiper,do you have it or you will support it in the future?

[2017-12-19 10:39] maharjanaman commented on #122
Hello, I'm having the same issue. In my case autoplay doesn't work when there is another existing `setTimeout` or `setInterval` active in component.

[2018-01-08 01:44] awochna opened #146 "Updating other props resets current page to 0 even when children are the same."
My carousel was set up to use arrows with custom text and also with a callback onAnimateNextPage. The purpose of that was to not render the left arrow (an empty Text element) when we were on the first page, but then enable the the left arrow on other pages.

Until a recent update to fix PropTypes, this worked out fine. With the latest update, trying to navigate to the next page resulted in no chan

[2018-01-09 14:27] Unlighten opened #148 "Arrow Speed"
How would I go about putting a delay on how frequently I can press the arrows? Right now I can spam the arrows and the images slide back and forth like crazy. Any thoughts?

[2018-01-11 15:55] alainib opened #149 "bug on tablet with full exemple"
hello
i tryed the full exemple (`https://github.com/phil-r/react-native-looped-carousel/blob/master/Examples/Simple/example.js`)  on somes android's phone, it work ok.

i tryed it on a android tablet ( samsung Galaxy TAB 8" SMT365 with android 5.1.1 ) and it don't work.
when you slide to the left (in the begening of GIf) it jump two slides each time instead of one.
when you slide to the right to g

[2018-01-30 18:32] roysG opened #150 "not working on react native version 0.51.0"
react-native-cli: 1.0.0
react-native: 0.51.0

I get error:
<img width="411" alt="screen shot 2018-01-30 at 20 32 21" src="https://user-images.githubusercontent.com/7311802/35584125-b6767918-05fc-11e8-9c3f-1dd266b52898.png">

[2018-02-02 21:53] ricardosasilva commented on #150
Check #135.

[2018-02-08 12:11] deva11 opened #151 "Not an Issue. But Doubt"
Can I generate dynamically this Slideshow ?? Is it possible to set custom time for each transition ??

How can I move to another View within Carousal tag Dynamically?

Is it possible to set the View programatically using prop "currentPage" from the list of generated Views?

[2018-02-08 13:44] deva11 opened #152 "Error Running your example code"
`undefined is not an object(evaluating'_react3.default.PropTypes.node')`

I'm getting this on running your example code.
It is properly installed and reflects in package.json

[2018-02-08 13:52] deva11 commented on #152
Issue happens with the line of importing your module

[2018-02-08 22:09] angineering opened #153 "Is this project abandoned?"
Judging by the time of the last commit, the 213 forks and that it doesn't compile on react-native 0.49.5 >= it looks like this project is no longer being updated. Is this correct?

[2018-02-08 23:41] rodmoreno commented on #153
hey @phil-r have you abandoned the project?

[2018-02-09 22:34] nick-castaneda commented on #115
I'm having the same issue with Jest.  Currently just skipping the test file for the component using the library.

[2018-03-23 16:40] qalqi commented on #135
npm install phil-r/react-native-looped-carousel#e23e1ad41e67ee9e95558e7df00c364fbb1b688b

[2018-03-24 11:30] phil-r commented on #153
Hi @angineering and @rodmoreno

Yeah it was for some time, the number of issues and PRs was a bit too overwhelming for me to take care of. But I have some free time now to clean everything up ^_^

[2018-03-24 11:30] #153 closed

[2018-03-24 13:01] phil-r opened #164 "Fix test error"
Tests work, but here is an error in the output:
[code]

[2018-03-24 16:27] phil-r commented on #135
Should be fixed in `0.1.8`

[2018-03-24 16:27] #135 closed

[2018-03-24 16:28] phil-r commented on #115
I can't repro this, but there is another issue(#164)

[2018-03-24 16:28] #115 closed

[2018-03-24 16:29] phil-r commented on #152
Should be fixed in 0.1.8

[2018-03-24 16:29] #152 closed

[2018-03-24 16:31] phil-r commented on #151
No

Yes, using `animateToPage`

[2018-03-24 16:31] #151 closed

[2018-03-24 16:32] phil-r commented on #150
Should be fixed in `0.1.8`

[2018-03-24 16:32] #150 closed

[2018-03-24 16:35] phil-r commented on #148
Hm, maybe we should block them while animation is in process...

[2018-03-24 16:38] phil-r commented on #146
I think it was fixed by #113, but I still want to look into your PR ^_^

[2018-03-24 16:38] #146 closed

[2018-03-24 16:39] phil-r commented on #118
I;m closing it as there is not enough info to reproduce it, please provide an example and re-open ^_^

[2018-03-24 16:39] #118 closed

[2018-03-24 16:40] phil-r commented on #122
Hm, interesting

[2018-03-24 16:41] phil-r commented on #145
I've never used `react-native-swiper` but it's possible to animate to the given page using `animateToPage` method

[2018-03-24 16:41] #145 closed

[2018-03-24 16:43] phil-r commented on #142
Should be fixed as of `0.1.8`

[2018-03-24 16:43] #142 closed

[2018-03-24 16:46] phil-r commented on #130
#109 was merged

[2018-03-24 16:46] #130 closed

[2018-03-24 16:47] phil-r commented on #139
Can you provide a code? using http://snack.expo.io/ for example

[2018-03-24 16:48] phil-r commented on #138
No idea to be honest, I'll need to investigate this

[2018-03-24 16:52] cerberusv2px commented on #142
@phil-r Too late broda

[2018-03-24 16:53] phil-r commented on #125
@felipesousa Cool ^_^

I'll look into all arrows related PRs later)

[2018-03-24 16:54] #121 closed

[2018-03-24 16:55] phil-r commented on #119
Haven't tested it for a RTL languages ;(

[2018-03-24 16:56] #58 closed

[2018-03-24 16:59] phil-r commented on #131
oops

[2018-03-24 16:59] #131 closed

[2018-03-24 17:00] phil-r commented on #132
new version `0.1.8` was released, sorry for the delay 😢

[2018-03-24 17:00] #132 closed

[2018-03-24 17:05] phil-r commented on #111
I think we can provide an api to get the `currentPage` and `pageLength`

[2018-03-24 17:10] phil-r commented on #142
`¯\_(ツ)_/¯`

[2018-03-25 14:11] phil-r commented on #125
merged and live

[2018-03-25 14:11] #125 closed

[2018-03-25 14:11] phil-r commented on #101
`isLooped` property was added

[2018-03-25 14:11] #101 closed

[2018-03-25 15:03] #164 closed

[2018-03-25 20:35] #48 closed

[2018-04-03 11:25] NorthNothing opened #170 "Why can't the click event be triggered?"
I want to click on the this to jump the page.
but  I can't the click event be triggered

[2018-04-08 10:57] phil-r commented on #170
Hi @NorthNothing, can you provide an example of what you're trying to achieve?

[2018-04-22 11:28] phil-r commented on #41
You can use `bulletsContainerStyle`, Thanks @rishabh-saxena for the PR =)

[2018-04-22 11:28] #41 closed

[2018-04-22 11:28] phil-r commented on #124
You can use `bulletsContainerStyle`

[2018-04-22 11:28] #124 closed

[2018-04-23 11:33] MSSPL-PiyaleeMaiti opened #183 "animateToPage and _animatePreviousPage not working"
[code]
above two methods are not working properly when `isLooped = {false}`   if I set this to `isLooped = {true}`  then it's works fine.

But I need `isLooped = {false}`  and also need that method also. How can I solve my problem?

[2018-05-21 12:56] MSSPL-PiyaleeMaiti commented on #183
@phil-r Hi, is there any update on this issue?

[2018-05-21 22:08] phil-r commented on #183
Hey 👋
You can try out this example: https://snack.expo.io/@phil/carousel-animate-to-page-example

The key parts are:
`ref={ref => (this.carousel = ref)}` in Carousel props
`onAnimate={i => this.carousel.animateToPage(i)}` in Page props

[2018-05-22 04:48] MSSPL-PiyaleeMaiti commented on #183
@phil-r  I already used this method `animateToPage(i)`  but it's not working only for 0 index page. When I want to go to 0 index page then it shows the last page instead of 0 index page.  This issue is happen when `isLooped = {false}`   but when I set to` isLooped = {true}`  then it's working properly. But I want this method is works with `isLooped = {false}` , how it could be possible please sugg

[2018-05-23 09:39] phil-r commented on #183
@MSSPL-PiyaleeMaiti make sure you're on `0.1.12` version

[2018-05-23 10:40] MSSPL-PiyaleeMaiti commented on #183
@phil-r  thanks, I upgrade the version and its working fine. But I have a problem now about **currentPage** props. This props now not working in this updated version. Its always show the first page but bullet show currentPage number. How could I fix please suggest.

[2018-05-23 11:13] phil-r commented on #183
@MSSPL-PiyaleeMaiti Oops 😳 I know here the bug is, I'll try to fix it this evening!

[2018-05-23 11:15] MSSPL-PiyaleeMaiti commented on #183
@phil-r ok thanks, I will be waiting for your reply.

[2018-05-23 21:34] phil-r commented on #183
@MSSPL-PiyaleeMaiti can you check `0.1.13`, issue should be fixed 🎉

[2018-05-23 22:16] phil-r opened #190 "Consider using FlatList instead of ScrollView"
https://facebook.github.io/react-native/docs/flatlist.html

[2018-05-23 22:26] phil-r commented on #144
Should be easy with code from #181

[2018-05-23 22:33] phil-r commented on #143
Closing, as I can't repro and it works for example in this snack: https://snack.expo.io/S10WnDQ17

[2018-05-23 22:33] #143 closed

[2018-05-24 04:38] MSSPL-PiyaleeMaiti commented on #183
@phil-r  I need to upgrade the package again?

[2018-05-24 04:49] MSSPL-PiyaleeMaiti commented on #183
Thanks, @phil-r, now it's working properly.

[2018-05-29 05:15] huowenxuan opened #197 "0.1.13 Don't show image"
[code]

But the old version did(0.1.9)

[2018-05-31 05:18] MobsMao commented on #197
I have the same issue, but only occurs when only ONE item in Carousel. But images will show up when 2 or more items in Carousel.

[2018-05-31 05:50] huowenxuan commented on #197
Yes, but i only have one😆

[2018-06-05 18:00] GuillotJessica opened #201 "if number image > 1 slide into 1 image zoomed in"
if my list of image (all exact same ratio) is > 1, it look like it is zoomed in, and swich bullet go from one side of the image to an other, gallery width and height are set and property resizeMode={'cover'}
[code]

[2018-06-11 06:31] 447491480 commented on #197
when length = 1 render as Image where lenght>1 render as Carousel

[2018-06-27 12:02] #201 closed

[2018-07-02 05:48] fangasvsass commented on #190
just do it

[2018-07-11 00:54] kaplona commented on #197
When there is only one children in carousel, no matter whether it's an image or not, it won't be displayed. I observe this behavior only on iOS (both simulator and device), Android is ok.

[2018-07-26 04:04] lemori opened #224 "Supports scrollEventThrottle"
Hi, maybe we could set `Scrollview.scrollEventThrottle` for performance?

FYI: https://facebook.github.io/react-native/docs/scrollview#scrolleventthrottle

[2018-08-09 06:54] Msspl-PrashenjeetRoy commented on #183
@phil-r `this._carousel.animateToPage(0)` this function is not working in iPhone6plus and iPhone7(real device), when carousel page content have in between ScrollView, and the function is calling from ScrollView content, so is it not working from ScrollView?

[2018-08-09 07:10] Msspl-PrashenjeetRoy opened #228 "animateToPage and _animatePreviousPage not working in ScrollView"
animateToPage and _animatePreviousPage not working in ScrollView in iPhone 6Plus and iPhone 7.

[code]

When we put page content in between ScrollView and call that function from there then the function is not working in the release build, but in debug build it's working fine.

Can anyone please suggest any solution how to solve the problem?? We need it urgently because we are implementing it in t

[2018-08-17 04:06] leibnizi commented on #224
we need  set Scrollview.scrollEventThrottle to avoid warning

[2018-09-13 09:31] skkakadiya opened #230 "Not working with DPad in AndroidTV"
I used this library for showing the carousel in my React Native TV app. It working fine with Apple TV(tvOS) but when I run this in Android TV, the image will not change on the left and right direction.

**Code**:
[code]
Also, it shows half move image when I press left or right from DPad.
![screenshot_1536830854](https://user-images.githubusercontent.com/5549171/45480010-8ffb6f80-b765-11e8-9f64-0df

[2018-09-14 05:17] MSSPL-PiyaleeMaiti commented on #183
@phil-r can you segguest any solution for iPhone6plus issue.
Below link for details isuue.
https://github.com/phil-r/react-native-looped-carousel/issues/228

[2018-09-20 15:54] ElangoPrince opened #231 "How to render Images in carousel?"
The code which i done is :
 <Carousel
              delay={2000}
              autoplay
              pageInfo
              style
              onAnimateNextPage={(p) => console.log(p)}

              <Image source={logo} style={{Width, Height}} />
              <View style={{backgroundColor: 'blue',width: 100, height: 150 }}>
                <Text>1</Text>
              </View>
              <Vi

[2018-09-23 04:57] tconns opened #232 "Update react native 0.57, Carousel jumped to many pages ??"
When I update react native 0.57 but the android platform when swiping to the page is jumped to many pages ??

[2018-10-05 14:48] VitalyKozhemyaka opened #233 "ScrollView keyboardShouldPersistTaps"
Can you add an attribute keyboardShouldPersistTaps="handled" ? or maybe add that props to carousel component.
Because sometimes inside the carousel we use component with TextField

https://facebook.github.io/react-native/docs/scrollview#keyboardshouldpersisttaps

[2018-10-15 06:45] ankurgautam81 opened #234 "Is there any way to display left and right icon instead of text ??"

[2018-11-20 04:40] lauyilouis commented on #232
+1

[2018-11-30 10:27] Xifeat opened #245 "Styling Active Bullet"
Hello,

I applied style on bullet with

`bulletStyle={{backgroundColor: 'grey'}}
`it works perfectly, but I didn't find how to style the active one,

Someone can help ?
Thanks a lot in advance !

[2018-12-05 10:13] MSSPL-PiyaleeMaiti commented on #228
Is there any solution for above problem?
We are stuck here for that issue. Need any solution.

[2018-12-19 10:49] wongkaking opened #247 "something wrong `on onPress()` function"
![rn issue](https://user-images.githubusercontent.com/42529593/50215592-739f4c80-03be-11e9-86ff-57bf890ec960.gif)

As the gif you have seen, `onPress()` function did not work
Help me pls
`<Carousel
            delay={2000}
            style={this.state.carouselSize}
            autoplay={false}
            bullets={true}
            onPress={() => {console.log('-----------------')}}

        {imag

[2018-12-20 16:47] Gazfay commented on #233
Any update?

[2018-12-21 12:48] Gazfay commented on #233
@VitalyKozhemyaka just fork my repo, i fixed it =)
https://github.com/Gazfay/react-native-looped-carousel

[2019-01-18 15:31] dylanrhodius commented on #245
@Xifeat

```chosenBulletStyle``` prop

[2019-01-29 09:56] 164738777 commented on #247
There are no `onPress` function Props in the Carousel source code.

It may be the demo code in README.md.

[2019-02-18 15:01] Rutheniceye92 commented on #38
How can i make carousel responsive in terms of device rotation?

[2019-03-04 13:42] csyaonie opened #264 "animated not perform good at android"
it seens swiped twice at the same time at android but ios is ok;

[2019-03-09 09:07] csyaonie opened #269 "scrollview warnming on ios"
You specifiedonScrollon a <ScrollView> but notscrollEventThrottle. You will only receive one event. Using16you get all the events but be aware that it may cause frame drops, use a bigger number if you don't need as much precision.

[2019-03-15 21:35] rarenatoe commented on #197
Was this ever resolved? I am getting the same issue.

[2019-03-22 02:48] MobsMao commented on #197
not sure. you can render an image when length = 1, when length > 1 render the Carousel

[2019-03-22 02:52] rarenatoe commented on #197
Well, in my case that doesn't quite work, since I'm having it work along with Lightbox in order to render a gallery.
But it's alright. I rolled back to 0.1.12 like someone else did before.

[2019-04-15 13:59] m00gl3 opened #286 "On iOS - ScrollView scrollTo not working with 3 carousel pages"
iPhone 6s simulator
react-native 0.57.7
react-native-looped-carousel 0.1.13

I am using the carousel to add ability to swipe left/right in a Calendar application.

So I'm doing something like
[code]
The agenda is a ScrollView.
I only draw the ScrollView / Agenda on the current page the user is on.
So when "this.currentPage == index" I draw the Agenda list.

[code]
![Screen Shot 2019-04-15 at 16 51

[2019-04-16 12:30] 008v opened #287 "_placeCritical() bad logic was executed"
An incorrect operation was performed in the _placeCritical() method.

Specifically，

[code]

[2019-05-28 08:56] wanngzelin opened #295 "Looping does not work"
Looping does not work

[2019-07-21 17:43] Cebri63 opened #307 "Swap bullet with custom component"
Hi everybody,

Is it possible to swap bullet for a custom component ?
For example, I'd like to make bullet my own style, with a SVG.

Thanks

[2019-07-25 10:35] aevaldas opened #311 "componentWillReceiveProps is deprecating"
componentWillReceiveProps is deprecating.

![image](https://user-images.githubusercontent.com/38099310/61867922-f5210500-aee0-11e9-828e-352dc6e6a9e2.png)

[2019-09-09 22:10] ramonscampos opened #322 "ScrollView at second level inside Caroulsel doesn't work"
When I put a ScrollView at second level (or beyond) the scroll doesn't work.

This doesn't work:
[code]

This works well:
[code]

[2019-09-10 17:49] #322 closed, assigned to nobody

[2019-09-19 18:20] charro0407 commented on #311
#325 Fixed

[2019-09-25 00:58] msqar opened #326 "How can I handle dynamic content this way"
Basically i have a children component, with a list of images, and whenever I tap on any of those, I just tell my parent to show this carousel within a blurry background.

So I have to dynamically create the Carousel content, I know there's a ticket about this already but this case scenario is different and it's not working with what I tested thus far.

Here's what I do:

//Children component

[cod

[2019-09-25 01:03] msqar commented on #326
Sorry, I feel so dumb. Literally occurred to me a possible solution when I was typing this, and turned out to be the reason. I know what was wrong, in case anyone is under the same situation as me, it was the <View> wrapping the dynamicContent. I had to wrap every `<FastImage>` in a `<View style={this.state.imageGallerySize}>` for this to work.

[2019-09-25 01:03] #326 closed, assigned to nobody

[2019-10-22 02:33] pegasus1982 opened #338 "Weird image(base64) size in carousel item."
When I trying to use base64 data as source of Image in carousel item,
I noticed the image wasn't fitted to the carousel item.

[2020-01-15 12:30] Luckygirlllll commented on #111
@phil-r How to get currentPage?

[2020-03-18 16:03] #83 closed

[2020-05-18 10:08] Jirat133 opened #385 "onPress TouchableWithoutFeedBack not working in a carousel childe view."
I Have a problem with TouchableWithoutFeedback onPress as a parent to carousel, it's not working, so I put TouchableWithoutFeedback inside each child of carousel instead and it give me an error like this. I wonder if there're a way to make a view inside carousel working with onPress function?
![Screenshot_2020-05-18-16-23-04-365_com shobshop shobshopdev](https://user-images.githubusercontent.com/3

[2020-05-18 11:15] #385 closed, assigned to nobody

[2020-05-18 11:17] Jirat133 commented on #385
It's about using setState in onAnimateNextPage

[2020-06-01 08:33] pengzhaowen opened #387 "Picture dislocation"
my "react-native-snap-carousel" version   is ^3.8.0"
 It's very normal ,  but   when  I  open two level  android original activity  , and  back to Home.js (react-native mainActivity) ，the picture dislocation ,offset right .

[2020-09-08 04:08] calvinkei commented on #60
i guess using flatlist instead of scrollview will do the magic?

[2020-10-13 14:26] Bayramito opened #427 "Swipe inside another swipeable component"
Hello,

In my case I used this inside a material top tab navigator of react navigation v5.
Which is also a swipeable component.  And when i swipe in the carousel it swipes in the top tab navigator's screens not in the carousel images.
Is there any way to prevent this somehow?

[2021-02-09 07:51] ARIPRASATH4664 commented on #295
It works good with this prop **isLooped**

[2021-02-19 07:44] k1195453766 commented on #427
@Bayramito Hey, have you solved this problem?

[2021-07-08 10:33] graphicweave opened #482 "A"
A

[2021-07-08 10:34] #482 closed, assigned to nobody

[2021-07-08 10:40] yehyaumar opened #483 "Carousel items flicker when state changes"
The items in the carousel weirdly flickers when the component state is updated. It doesn't happen when the state isn't updated.

https://user-images.githubusercontent.com/18230687/124908470-fe8cd480-e006-11eb-8c3f-6f8b0cbe27c3.mov

Expected: No flickering

[2021-09-01 15:34] bob007abc commented on #197
Hi All,
I've fixed this bug by adding the below code in method "_placeCritical":
`if (childrenLength === 1) {
      offset = 0;
    }`

Please check the screenshot for detail:
![BugFixing](https://user-images.githubusercontent.com/6916764/131699799-88057720-cc19-43da-a967-0e6951f69b4c.png)

[2022-02-08 15:52] #88 closed

[2022-06-01 09:29] fukemy commented on #269
still not fixed after 3 year?

[2022-06-01 09:30] fukemy opened #487 "this lib is dead with multi warning, dont use it"
as title